.container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container {
  width: 40vw; 
  height: 40vw;
  border-radius: 50%;
  clip-path: inset(50px 0);
  
}
.container {
  position: relative;
  width: 50%;
}

.images {
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: turquoise;
  
}

.container:hover .overlay {
  opacity: 1;
  
}

.list {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
